/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.ApiErrorResponse
import io.swagger.client.model.InventoryCostModel
import io.swagger.client.model.OperationInputGroupModel
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object CostsApi {

  /**
   * Returns a list of inventory values for a given site and stocking point.
   * 
   * Expected answers:
   *   code 200 : OperationInputGroupModel (successful operation)
   *   code 401 : ApiErrorResponse (Unauthorised)
   *   code 500 : ApiErrorResponse (Internal Server Error)
   * 
   * @param siteRef Site reference for the required site. The use of @all will return inventory value for all sites.
   * @param stockingpointID Stocking point which is associated with the site. The use of @all will return inventory value for all stocking points.
   */
  def getInventoryValue(siteRef: String, stockingpointID: String): ApiRequest[OperationInputGroupModel] =
    ApiRequest[OperationInputGroupModel](ApiMethods.GET, "https://virtserver.swaggerhub.com/ewanpeters/production-planning/1.0.0", "/sites/{siteRef}/productionplanning/inventoryvalue/{stockingpointID}", "application/json")
      .withPathParam("siteRef", siteRef)
      .withPathParam("stockingpointID", stockingpointID)
      .withSuccessResponse[OperationInputGroupModel](200)
      .withErrorResponse[ApiErrorResponse](401)
      .withErrorResponse[ApiErrorResponse](500)
        /**
   * Returns a list of inventory values for a given site and operation ID.
   * 
   * Expected answers:
   *   code 200 : InventoryCostModel (successful operation)
   *   code 401 : ApiErrorResponse (Unauthorised)
   *   code 500 : ApiErrorResponse (Internal Server Error)
   * 
   * @param siteRef Site reference for the required site. The use of @all will return inventory value for all sites.
   * @param operationID Returns a list of inventory values for a given operation ID.
   */
  def getInventoryValueOperations(siteRef: String, operationID: String): ApiRequest[InventoryCostModel] =
    ApiRequest[InventoryCostModel](ApiMethods.GET, "https://virtserver.swaggerhub.com/ewanpeters/production-planning/1.0.0", "/sites/{siteRef}/productionplanning/inventoryvalue/operation/{operationID}", "application/json")
      .withPathParam("siteRef", siteRef)
      .withPathParam("operationID", operationID)
      .withSuccessResponse[InventoryCostModel](200)
      .withErrorResponse[ApiErrorResponse](401)
      .withErrorResponse[ApiErrorResponse](500)
      

}

