/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.ApiErrorResponse
import io.swagger.client.model.InventorySuppliesModel
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object InventorySuppliesApi {

  /**
   * Returns a list of inventory supplies for a given stocking point.
   * 
   * Expected answers:
   *   code 200 : InventorySuppliesModel (successful operation)
   *   code 401 : ApiErrorResponse (Unauthorised)
   *   code 500 : ApiErrorResponse (Internal Server Error)
   * 
   * @param siteRef Site reference for the required site. The use of @all will return inventory value for all sites.
   * @param stockingPointId Stocking point for the required site. The use of @all will return inventory value for all sites.
   */
  def getInventorySupplies(siteRef: String, stockingPointId: String): ApiRequest[InventorySuppliesModel] =
    ApiRequest[InventorySuppliesModel](ApiMethods.GET, "https://virtserver.swaggerhub.com/ewanpeters/production-planning/1.0.0", "/sites/{siteRef}/productionplanning/inventorysupplies/{stockingPointId}", "application/json")
      .withPathParam("siteRef", siteRef)
      .withPathParam("stockingPointId", stockingPointId)
      .withSuccessResponse[InventorySuppliesModel](200)
      .withErrorResponse[ApiErrorResponse](401)
      .withErrorResponse[ApiErrorResponse](500)
      

}

