/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.ApiErrorResponse
import io.swagger.client.model.PISPIPSModel
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object PISPIPSApi {

  /**
   * Returns a list of PISPIPS with high level detail for a given site, or all sites.
   * 
   * Expected answers:
   *   code 200 : PISPIPSModel (successful operation)
   *   code 401 : ApiErrorResponse (Unauthorised)
   *   code 500 : ApiErrorResponse (Internal Server Error)
   * 
   * @param siteRef Site reference for the requried Site.  The use of @all will return PISPIPS for all sites.
   */
  def getPISPIPS(siteRef: String): ApiRequest[PISPIPSModel] =
    ApiRequest[PISPIPSModel](ApiMethods.GET, "https://virtserver.swaggerhub.com/ewanpeters/production-planning/1.0.0", "/sites/{siteRef}/productionplanning/pispips", "application/json")
      .withPathParam("siteRef", siteRef)
      .withSuccessResponse[PISPIPSModel](200)
      .withErrorResponse[ApiErrorResponse](401)
      .withErrorResponse[ApiErrorResponse](500)
      

}

