/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.ApiErrorResponse
import io.swagger.client.model.StockingPointModel
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object StockingPointApi {

  /**
   * Returns a list of stocking points
   * 
   * Expected answers:
   *   code 200 : StockingPointModel (successful operation)
   *   code 401 : ApiErrorResponse (Unauthorised)
   *   code 500 : ApiErrorResponse (Internal Server Error)
   * 
   * @param siteRef Site reference for the requried Site.  The use of @all will return PISPIPS for all sites.
   * @param stockingPointId Stocking point for the required site.
   */
  def getStockingPoints(siteRef: String, stockingPointId: String): ApiRequest[StockingPointModel] =
    ApiRequest[StockingPointModel](ApiMethods.GET, "https://virtserver.swaggerhub.com/ewanpeters/production-planning/1.0.0", "/sites/{siteRef}/productionplanning/stockingpoint/{stockingPointId}", "application/json")
      .withPathParam("siteRef", siteRef)
      .withPathParam("stockingPointId", stockingPointId)
      .withSuccessResponse[StockingPointModel](200)
      .withErrorResponse[ApiErrorResponse](401)
      .withErrorResponse[ApiErrorResponse](500)
      

}

