/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.ApiErrorResponse
import io.swagger.client.model.BaseConversionFactorsModel
import io.swagger.client.model.Units
import io.swagger.client.model.UoMModel
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object UnitsApi {

  /**
   * Returns a list of conversion factors
   * 
   * Expected answers:
   *   code 200 : BaseConversionFactorsModel (successful operation)
   *   code 401 : ApiErrorResponse (Unauthorised)
   *   code 500 : ApiErrorResponse (Internal Server Error)
   * 
   * @param siteRef Site reference for the requried Site.  The use of @all will return conversion factors for all sites.
   * @param productID The product ID for the required site. The use of @all will return converion factors for all sites.
   */
  def getConversionFactors(siteRef: String, productID: String): ApiRequest[BaseConversionFactorsModel] =
    ApiRequest[BaseConversionFactorsModel](ApiMethods.GET, "https://virtserver.swaggerhub.com/ewanpeters/production-planning/1.0.0", "/sites/{siteRef}/productionplanning/conversionfactors/{ProductID}", "application/json")
      .withPathParam("siteRef", siteRef)
      .withPathParam("ProductID", productID)
      .withSuccessResponse[BaseConversionFactorsModel](200)
      .withErrorResponse[ApiErrorResponse](401)
      .withErrorResponse[ApiErrorResponse](500)
        /**
   * Returns a list of units of measure (UOM)
   * 
   * Expected answers:
   *   code 200 : UoMModel (successful operation)
   *   code 401 : ApiErrorResponse (Unauthorised)
   *   code 500 : ApiErrorResponse (Internal server error)
   * 
   * @param siteRef Site reference for the required site. The use of @all will return UOM for all sites.
   * @param uom Returns the UOM for the required site. The use of @all will return the units of measure for all sites
   */
  def getUOM(siteRef: String, uom: String): ApiRequest[UoMModel] =
    ApiRequest[UoMModel](ApiMethods.GET, "https://virtserver.swaggerhub.com/ewanpeters/production-planning/1.0.0", "/sites/{siteRef}/productionplanning/unitsofmeasure/{uom}", "application/json")
      .withPathParam("siteRef", siteRef)
      .withPathParam("uom", uom)
      .withSuccessResponse[UoMModel](200)
      .withErrorResponse[ApiErrorResponse](401)
      .withErrorResponse[ApiErrorResponse](500)
        /**
   * Returns a list of units
   * 
   * Expected answers:
   *   code 200 : Units (successful operation)
   *   code 401 : ApiErrorResponse (Unauthorised)
   *   code 500 : ApiErrorResponse (Internal server error)
   * 
   * @param siteRef Site reference for the required site. The use of @all will return conversion factors for all sites.
   * @param unitId The units for the required unit ID. The use of @all will return all of the units.
   */
  def getUnits(siteRef: String, unitId: String): ApiRequest[Units] =
    ApiRequest[Units](ApiMethods.GET, "https://virtserver.swaggerhub.com/ewanpeters/production-planning/1.0.0", "/sites/{siteRef}/productionplanning/units/{UnitId}", "application/json")
      .withPathParam("siteRef", siteRef)
      .withPathParam("UnitId", unitId)
      .withSuccessResponse[Units](200)
      .withErrorResponse[ApiErrorResponse](401)
      .withErrorResponse[ApiErrorResponse](500)
      

}

